version: '3.4'

services:
  # 1. SQL SERVER KONTEYNERİ
  curelogix-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: curelogix_sql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=CureLogix_DB_2026! 
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  # 2. WEB UYGULAMA KONTEYNERİ (Senin C# Projen)
  curelogix-web:
    image: curelogix-app
    container_name: curelogix_web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - curelogix-db
      - elasticsearch 
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - DOTNET_RUNNING_IN_CONTAINER=true
      # SQL Bağlantısı
      - ConnectionStrings__DockerConnection=Server=curelogix-db;Database=CureLogixDB;User Id=sa;Password=CureLogix_DB_2026!;TrustServerCertificate=True;MultipleActiveResultSets=true;Connection Timeout=30;
      # Elasticsearch Bağlantısı
      - ConnectionStrings__ElasticConnection=http://elasticsearch:9200
      
      # ✅ Docker Sistemi Açıksa Arama Kutucuğunu Devreye Al
      # Bu satır, appsettings.json içindeki "false" ayarını ezer ve Docker'da kutuyu açar.
      - AppSettings__EnableElasticSearch=true 

  # 3. ELASTICSEARCH (Arama Motoru)
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: curelogix_es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  # 4. KIBANA (Görselleştirme Arayüzü)
  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: curelogix_kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  sql_data:
  esdata: