version: '3.4'

services:
  # 1. SQL SERVER KONTEYNERİ
  curelogix-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: curelogix_sql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=CureLogix_DB_2026! # Güçlü şifre
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  # 2. WEB UYGULAMA KONTEYNERİ
  curelogix-web:
    image: curelogix-app
    container_name: curelogix_web
    build:
      context: .              # "Benim olduğum klasör" (Root)
      dockerfile: Dockerfile  # DÜZELTME: Artık klasör yolu yok, direkt dosya adı
    ports:
      - "8080:8080"           # Tarayıcıdan localhost:8080 ile gireceğiz
    depends_on:
      - curelogix-db
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - DOTNET_RUNNING_IN_CONTAINER=true
      # Docker Connection String (Server ismi 'curelogix-db' servisiyle eşleşmeli)
      - ConnectionStrings__DockerConnection=Server=curelogix-db;Database=CureLogixDB;User Id=sa;Password=CureLogix_DB_2026!;TrustServerCertificate=True;MultipleActiveResultSets=true;Connection Timeout=30;

volumes:
  sql_data: